[submodule "vendor/SDL"]
	path = vendor/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "vendor/cglm"]
	path = vendor/cglm
	url = git@github.com:recp/cglm.git
[submodule "vendor/cimgui"]
	path = vendor/cimgui
	url = git@github.com:cimgui/cimgui
[submodule "vendor/flecs"]
	path = vendor/flecs
	url = https://github.com/SanderMertens/flecs
